apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-express
  namespace: mongodb
  labels:
    app: mongo-express
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo-express
  template:
    metadata:
      labels:
        app: mongo-express
    spec:
      containers:
        - name: mongo-express
          image: mongo-express:1.0.2   # ? ма latest
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8081

          env:
            - name: ME_CONFIG_MONGODB_SERVER
              value: "mongo"

            - name: ME_CONFIG_MONGODB_PORT
              value: "27017"

            - name: ME_CONFIG_MONGODB_ADMINUSERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_ROOT_USERNAME

            - name: ME_CONFIG_MONGODB_ADMINPASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_INITDB_ROOT_PASSWORD

            - name: ME_CONFIG_MONGODB_AUTH_DATABASE
              value: "admin"

            - name: ME_CONFIG_MONGODB_ENABLE_ADMIN
              value: "true"

            - name: ME_CONFIG_MONGODB_REPLICA_SET
              value: "rs0"
              
            - name: ME_CONFIG_MONGODB_URL
              value: ""

            - name: ME_CONFIG_SITE_SESSIONSECRET
              value: "changeme-session-secret"
